@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Open+Sans:wght@300;400;700;800&family=Roboto:ital,wght@0,300;1,100&display=swap');



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  height: 100vh;
  padding-top: 10px;
  background-color: #11838b;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


}

.nombre__contenedor{
  width: 100%;
  height: 50px;
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  letter-spacing: 20px;

}

h1{
  font-family: 'Roboto', sans-serif;
}

.contenedor__calculadora{
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: #000;
  border-radius: 20px;
  border: 2px solid #fff;
}

.fila{
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

